menu "Lua Zephyr"

config LUA
    bool "Lua support"
    help
      Enable Lua support. This is required for the Lua scripting engine.
      If you enable this option, you will be able to use Lua scripts and
      spawn Lua threads.

config LUA_REPL
    bool "Lua REPL support"
    depends on LUA && SHELL
    default n
    help
      Enable the Lua REPL (Read-Eval-Print Loop) support. This allows you to
      interactively run Lua commands via Zephyr's shell.

config LUA_REPL_LINE_SIZE
    int "Lua REPL line size"
    depends on LUA_REPL
    default 256
    help
      The maximum size of a line in the Lua REPL. This is the maximum number
      of characters that can be entered in a single line in the Lua REPL.

config LUA_THREAD_STACK_SIZE
    int "Lua thread stack size"
    depends on LUA
    default 2048
    help
      The stack size for Lua threads automatically created by Lua Zephyr.

config LUA_THREAD_HEAP_SIZE
  int "Lua thread heap size"
  depends on LUA
  default 32768
  help
    The heap size for Lua threads automatically created by Lua Zephyr.
    This is the size of the memory pool used by Lua for its internal
    memory management. 

config LUA_THREAD_PRIORITY
  int "Lua thread priority"
  depends on LUA
  default 7
  help
    The priority of Lua threads automatically created by Lua Zephyr.
    Note that this is effectively the priority of the Lua thread and
    all will be created with this priority.

module = LUA_ZEPHYR
module-str = lua_zephyr
source "subsys/logging/Kconfig.template.log_config"
endmenu
